apiVersion: v1
kind: ConfigMap
metadata:
  name: kafka-broker-env
data:
  # --- Static Configuration ---

  # Roles & Cluster
  KAFKA_PROCESS_ROLES: "broker,controller"
  # UUID for KRaft (Required by official image to format storage)
  KAFKA_CLUSTER_ID: "MkU3OEVBNTcwNTJENDM2Qk"

  # Replication Settings (Set to 1 for Dev/Single node, 3 for Prod)
  KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: "1"
  KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: "1"
  KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: "1"
  KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"

  # Listener definitions (Internal ports are static)
  # We define the *names* and *ports* here.
  # The *Advertised* addresses are calculated in the script.
  KAFKA_LISTENERS: "BROKER://:9092,CONTROLLER://:9093,EXTERNAL://:9094"
  KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "BROKER:PLAINTEXT,CONTROLLER:PLAINTEXT,EXTERNAL:PLAINTEXT"

  # Mapping
  KAFKA_INTER_BROKER_LISTENER_NAME: "BROKER"
  KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"

  # Log Dir (Official image default)
  KAFKA_LOG_DIRS: "/var/lib/kafka/data"
