apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: kafka-broker-deployment
  labels:
    app: kafka-broker-deployment
spec:
  replicas: 3
  serviceName: kafka-broker-service
  selector:
    matchLabels:
      app: kafka-broker-deployment
  template:
    metadata:
      labels:
        app: kafka-broker-deployment
    spec:
      containers:
        - name: kafka-broker-deployment
          image: apache/kafka:4.1.1
          envFrom:
            - configMapRef:
                name: kafka-broker-env
          env:
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: REPLICAS
              value: "3"
          command:
            - bash
            - -c
            - |
              # 1. Get Node ID and Ordinal
              ORD=${HOSTNAME##*-}           # e.g., "0"
              NODE_ID=$((ORD + 1))          # e.g., "1"
              export KAFKA_NODE_ID=$NODE_ID

              # 2. Calculate Dynamic External Port
              # Broker 0 -> 9094
              # Broker 1 -> 9095
              # Broker 2 -> 9096
              EXTERNAL_PORT=$((9094 + ORD))

              # 3. Build Dynamic DNS Name
              POD_DNS="${HOSTNAME}.kafka-broker-service.${POD_NAMESPACE}.svc.cluster.local"

              # 4. Generate Voters List
              VOTERS=""
              for i in $(seq 0 $(($REPLICAS - 1))); do
                  V_NODE_ID=$((i + 1))
                  V_HOST="kafka-broker-deployment-${i}.kafka-broker-service.${POD_NAMESPACE}.svc.cluster.local"
                  VOTERS="${VOTERS}${V_NODE_ID}@${V_HOST}:9093,"
              done
              export KAFKA_CONTROLLER_QUORUM_VOTERS=${VOTERS%,}

              # 5. Generate Advertised Listeners
              # Note: We still listen on 9094 internally, but we ADVERTISE 127.0.0.1:$EXTERNAL_PORT
              # This tells the client: "To talk to me, use localhost:$EXTERNAL_PORT"
              export KAFKA_ADVERTISED_LISTENERS="BROKER://${POD_DNS}:9092,CONTROLLER://${POD_DNS}:9093,EXTERNAL://127.0.0.1:${EXTERNAL_PORT}"

              echo "--- Configuration ---"
              echo "Broker: $HOSTNAME (ID: $NODE_ID)"
              echo "Advertising External: 127.0.0.1:${EXTERNAL_PORT}"

              . /etc/kafka/docker/run
          ports:
            - name: broker
              containerPort: 9092
            - name: controller
              containerPort: 9093
            - name: external
              containerPort: 9094
          volumeMounts:
            - name: kafka-broker-data
              mountPath: /var/lib/kafka/data
          resources:
            requests:
              cpu: "250m"
              memory: "512Mi"
            limits:
              cpu: "1"
              memory: "1Gi"
      volumes:
        - name: kafka-broker-data
          emptyDir: {}
